name: "Check Schema"

on:
  push:
    branches:
      - main
      - 'v*'
  pull_request:
    branches:
      - main
      - 'v*'
  workflow_dispatch:
    inputs: {}

jobs:
  schema:
    name: "Validate Schema"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: jdx/mise-action@v3

      - name: Install dependencies
        run: bun install

      - name: Validate Schema
        run: bun drizzle-kit check
