name: "Run Tests"

on:
  push:
    branches:
      - main
      - 'v*'
  pull_request:
    branches:
      - main
      - 'v*'
  workflow_dispatch:
    inputs: {}

jobs:
  test:
    name: "Run Tests"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3

      - uses: jdx/mise-action@v3

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun test --coverage

      - name: Sanity Build
        run: bun e2e
