name: "Run Tests"

on:
  push:
    branches:
      - main
      - 'v*'
  pull_request:
    branches:
      - main
      - 'v*'
  workflow_dispatch:
    inputs: {}

concurrency:
  group: ${{ github.workflow }}-${{  github.sha }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  test:
    name: "Run Tests"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6

      - uses: jdx/mise-action@v3

      - name: Install dependencies
        run: bun install

      - name: Run tests
        run: bun test --coverage

      - name: Sanity Build
        run: bash ./scripts/e2e_test.sh
